header{background:#BB5E7D; color:#003B1F; font-family:Georgia;}
body{background:#E196AF;}
article{background:#76B295; font-family:Arial;}
h1{background:#003B1F; color:white; font-family:Verdana;}
footer{background:#BB5E7D;}
ul{list-style-type:square;}