header{background:#FFCCAA; color:#051938; font-family:impact; text-align:center;}
body{background:#6CA299;}
article{background:#D4AE6A; font-family:Times New Roman; border: 4px solid #00362D; padding: 30px; text-align:justify;}
h1{background:#152D54; color:#FFE0AA; text-align:center; font-family:Tahoma;}
footer{background:#152D54; color:white;}
ul{list-style-type:square;}
img{border:6px solid #00362D;}
nav{border: 2px solid #00362D; background:#7689A9;}